.base {
    --color: grey;
    --skew: 20deg;

    outline: 1px solid var(--color);
    color: whitesmoke;
    position: relative;
    padding: 8px 16px;
    background: none;
    overflow: hidden;
    font-size: 24px;
    border: none;

    transition: outline-width 0.05s ease-in;
}

.content {
    position: relative;
    z-index: 10;
    width: 100%;
}

.primary {
    --color: rgb(0, 165, 165);
}

.secondary {
    --color: rgb(170, 21, 51);
}

.disabled:not(.active) {
    color: grey;
}

.base::after {
    transform: translate(-100%, 0);
    background: var(--color);
    position: absolute;
    content: "";
    width: 100%;
    z-index: 0;
    bottom: 0;
    left: 0;
    top: 0;
}


.base:not(.active):not(.disabled):hover {
    outline-width: 4px;
}

.active::after {
    transform: translate(-100%, 0) skewX(0deg);
    animation-name: grow;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}


@keyframes grow {
    0% {
        transform: translate(-100%, 0) skewX(0deg);
    }
    50% {
        transform: translate(-100%, 0) skewX(var(--skew));
    }
    100% {
        transform: translate(0, 0) skewX(0deg);
    }
}